@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@100&display=swap');

$font-A: 'Cormorant Infant', serif;
$font-B: 'Roboto', sans-serif;
$font-C: 'Caveat', sans-serif;
