body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.25;

}
body .chat {
  box-shadow: 0px 2px 8px 2px var(--chat-sombra);
  bottom: 110px;
  border-radius: 0.625rem;
  -webkit-clip-path: circle(0% at 100% 100%);
  clip-path: circle(0% at 100% 100%);
  position: fixed;
  right: 30px;
  transition: -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  width: var(--chat-ancho);
  margin-bottom: 30px;
}
body .chat.open {
  -webkit-clip-path: circle(150% at 100% 100%);
  clip-path: circle(150% at 100% 100%);
  margin-bottom: 30px;
}
body .chat-cabecera {
  background-color: var(--chat-cabecera);
  border-radius: 0.625rem 0.625rem 0 0;
  box-sizing: border-box;
  display: flex;
  padding: 1.25rem;
  width: 100%;
}
body .chat-cabecera-avatar {
  border-radius: 50%;
  position: relative;
  width: var(--chat-avatar-ancho);
}
body .chat-cabecera-avatar img {
  border-radius: 50%;
  width: var(--chat-avatar-ancho);
}
body .chat-cabecera-avatar:before {
  background-color: var(--chat-cabecera-activo);
  bottom: 10px;
  border-radius: 50%;
  content: "";
  height: 10px;
  position: absolute;
  right: 0;
  width: 10px;
}
body .chat-cabecera-texto {
  color: var(--chat-cabecera-texto);
  margin: 0 0 0 0.625rem;
}
body .chat-cabecera-texto-nombre {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25rem;
}
body .chat-cabecera-texto-estado {
  font-size: 0.85rem;
  font-weight: normal;
  line-height: 1rem;
}
body .chat-cuerpo {
  background: transparent url(images/cuerpo-bg.png) center no-repeat;
}
body .chat-cuerpo-dentro {
  padding: 1.25rem;
  background-color: var(--chat-cuerpo-fondo);
}
body .chat-cuerpo-dialogo {
  background-color: var(--chat-cuerpo-dialogo);
  border-radius: 0.625rem;
  display: inline-block;
  padding: 1rem 1rem 0.25rem 1rem;
  position: relative;
}
body .chat-cuerpo-dialogo:before {
  border-left: 15px solid transparent;
  border-top-left-radius: 5px;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--chat-cuerpo-dialogo);
  border-bottom-left-radius: 5px;
  content: "";
  height: 0;
  left: -10px;
  top: 0;
  position: absolute;
  width: 0;
}
body .chat-cuerpo-dialogo-nombre {
  color: var(--chat-cuerpo-dialogo-nombre);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0 0 0.25rem;
}
body .chat-cuerpo-dialogo-saludo {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
body .chat-cuerpo-dialogo-saludo p {
  margin: 0 0 0.25rem;
}
body .chat-cuerpo-dialogo-hora {
  color: var(--chat-cuerpo-hora);
  text-align: right;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
body .chat-pie {
  border-radius: 0 0 0.625rem 0.625rem;
  background-color: var(--chat-pie);
  padding: 1rem;
}
body .chat-pie-boton {
  align-items: center;
  background-color: var(--chat-boton);
  border-radius: 1.25rem;
  box-sizing: border-box;
  color: var(--chat-boton-texto);
  display: flex;
  font-size: 0.875rem;
  justify-content: center;
  line-height: 1.25rem;
  outline: none;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
body .chat-pie-boton:hover {
  text-decoration: none;
}
body .chat-pie-boton svg {
  margin-right: 0.625rem;
}
body .burbuja {
  align-items: center;
  background-color: var(--burbuja-color);
  border-radius: 50%;
  bottom: 30px;
  box-shadow: 0px 2px 8px 2px var(--burbuja-sombra), 0px -2px 8px 2px var(--burbuja-sombra);
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: var(--burbuja-ancho);
  position: fixed;
  right: 30px;
  width: var(--burbuja-ancho);
  margin-bottom: 30px;
}
body .burbuja:after {
  background-color: var(--burbuja-inactivo);
  border-radius: 50%;
  content: "";
  height: 0.625rem;
  position: absolute;
  right: 0.625rem;
  top: 0;
  width: 0.625rem;
}
body .burbuja-icono {
  width: var(--burbuja-icono-ancho);
  color: var(--burbuja-whastapp);
}

@media (max-width: 480px) {
  body .chat {
    right: 0;
    left: 0;
    margin: auto;
    margin-bottom: 30px;
  }
  body .open {
    right: 0;
    left: 0;
    margin: auto;
  }
  body .burbuja {
    right: 0;
  }
}/*# sourceMappingURL=widget.css.map */