@import "colores.scss";
@import "fuentes.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  body {
    background-image: url(../IMA/BACKGROUND/glass-of-red-wine-and-bottle-on-bar-counter\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    header {
      @import "header.scss";
    }
    main {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .fa-circle-xmark {
        left: 50px;
      }
      h1 {
        background-color: $negro-agua;
        border: 0.5px solid white;
        color: $blanco;
        text-align: center;
        font-family: $font-A;
        font-weight: 100;
        padding: 1.7%;
      }
      div {
        display: flex;

        flex-direction: row;
        justify-content: space-between;

        .img-miniaturas {
          display: flex;
          align-self: center;
          flex-direction: column;
          margin-left: 250px;

          img {
            height: 155px;
            margin: 20px 0 20px 0;
          }
        }
        .img-principal {
          display: flex;
          align-self: center;
          height: 520px;
          i {
            margin-top: 200px;
            font-size: 100px;
            color: $gris;
            cursor: pointer;
          }
          i:hover {
            color: rgba($color: $gris, $alpha: 1);
          }
        }
        .info-img {
          flex-direction: column;
          margin: 40px 250px 0 0;

          .descripcion {
            flex-direction: column;
            font-size: 25px;
            background-color: $negro;
            color: $blanco;
            padding: 25px;
            border-radius: 60px;
            border: 3px solid $blanco;
            width: 430px;
            h2 {
              font-family: $font-A;
              margin-bottom: 20px;
            }
            p {
              font-family: $font-A;
            }
          }
          .precio-aggCarrito {
            width: 300px;
            color: $blanco;
            margin-left: 80px;
            margin-top: 5vh;
            span {
              font-size: xx-large;
              margin-top: 20px;
            }
          }
          button {
            width: 150px;
            background-color: rgba($color: $amarillo, $alpha: 0.8);
            padding: 15px;
            border-radius: 30px;
            border: 3px solid $blanco;
            color: $blanco;
            font-family: $font-A;
            font-size: large;
            font-weight: bold;
            cursor: pointer;
          }
          button:hover {
            color: $negro;
            box-shadow: 0 0 10px $blanco, 0 0 20px $blanco, 0 0 40px $blanco;
            transition: 1s;
            background-color: rgba($color: $blanco, $alpha: 0.4);
          }
        }
      }
    }
    footer {
      @import "footer.scss";
    }
  }
}

@media screen and (max-width: 480px) {
  body {
    height: 100vh;
    main {
      display: flex;
      flex-wrap: wrap;

      div {
        flex-direction: column;
        .img-miniaturas {
          flex-direction: row;
          margin-left: 0px;

          margin: 15px 0 0;
          img {
            height: 100px;
            width: 100%;
            margin: 0px 10px 20px 0;
          }
        }
        .img-principal {
          justify-content: center;
          height: 210px;

          margin-top: 0;
          .grande {
            width: 60%;
          }

          i {
            margin-top: 70px;
            font-size: 80px;
            color: $gris;
            cursor: pointer;
          }
        }
        .info-img {
          margin: 0px 20px;

          .descripcion {
            border: none;
            width: 100%;
            padding: 1px;
            font-size: 20px;
            margin-top: 5%;
            opacity: 80%;
            text-align: center;

            h2 {
              font-family: $font-A;
              font-size: 20px;
              margin-bottom: 0px;
            }
            p {
              display: none;
            }
          }
          .precio-aggCarrito {
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            margin-left: 0px;
            margin-top: 5px;
          }
          button {
            font-size: 16px;
            width: 150px;
            padding: 0px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
