$blanco: #ffffff;
$negro: #000000;
$amarillo: #ce8619;
$verde-agua: #11774688;
$gris: #b2b2b2da;
$azul-aguado: #326bff;
$negro-agua: #00000069;
$naranja: orange;

:root {
  --burbuja-ancho: 65px;
  --burbuja-icono-ancho: 32px;
  --burbuja-whastapp: #25d366;
  --burbuja-color: #fff;
  --burbuja-sombra: rgba(0, 0, 0, 0.1);
  --burbuja-inactivo: #ff0000;
  --chat-ancho: 360px;
  --chat-sombra: rgba(0, 0, 0, 0.1);
  --chat-cabecera: #095e54;
  --chat-cabecera-texto: #fff;
  --chat-cabecera-activo: #4ad504;
  --chat-avatar-ancho: 52px;
  --chat-cuerpo-texto: #111;
  --chat-cuerpo-texto-operador: rgba(0, 0, 0, 0.4);
  --chat-cuerpo-hora: rgba(17, 17, 17, 0.5);
  --chat-cuerpo-fondo: rgba(230, 221, 212, 0.85);
  --chat-cuerpo-dialogo: #fff;
  --chat-cuerpo-dialogo-nombre: rgba(0, 0, 0, 0.4);
  --chat-pie: #fff;
  --chat-boton: #4fce5d;
  --chat-boton-texto: #fff;
}
