@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@100&display=swap");
:root {
  --burbuja-ancho: 65px;
  --burbuja-icono-ancho: 32px;
  --burbuja-whastapp: #25d366;
  --burbuja-color: #fff;
  --burbuja-sombra: rgba(0, 0, 0, 0.1);
  --burbuja-inactivo: #ff0000;
  --chat-ancho: 360px;
  --chat-sombra: rgba(0, 0, 0, 0.1);
  --chat-cabecera: #095e54;
  --chat-cabecera-texto: #fff;
  --chat-cabecera-activo: #4ad504;
  --chat-avatar-ancho: 52px;
  --chat-cuerpo-texto: #111;
  --chat-cuerpo-texto-operador: rgba(0, 0, 0, 0.4);
  --chat-cuerpo-hora: rgba(17, 17, 17, 0.5);
  --chat-cuerpo-fondo: rgba(230, 221, 212, 0.85);
  --chat-cuerpo-dialogo: #fff;
  --chat-cuerpo-dialogo-nombre: rgba(0, 0, 0, 0.4);
  --chat-pie: #fff;
  --chat-boton: #4fce5d;
  --chat-boton-texto: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* header div.cabezera {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
* header div.cabezera h2 {
  color: #ffffff;
  font-family: "Caveat", sans-serif;
  font-size: 70px;
  cursor: pointer;
}
* header div.cabezera h2:hover {
  color: #ce8619;
  transition: 600ms;
  font-size: 68px;
}
* header div.cabezera form .contenedor-de-búsqueda {
  position: relative;
  width: 30vw;
  height: 40px;
  border: 1px solid black;
  border-radius: 30px;
  border: none;
}
* header div.cabezera form .contenedor-de-búsqueda input {
  font-size: 16px;
  border: #ffffff solid 1px;
  border-radius: 30px;
  padding: 0 12px 0 42px;
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
* header div.cabezera form .contenedor-de-búsqueda ::-moz-placeholder {
  color: #ffffff;
}
* header div.cabezera form .contenedor-de-búsqueda ::placeholder {
  color: #ffffff;
}
* header div.cabezera form .contenedor-de-búsqueda i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: #ffffff;
}
* header div.cabezera p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
* header div.cabezera .Usuario {
  display: flex;
}
* header div.cabezera .iconos {
  margin: 0px 10px;
  color: #ffffff;
  cursor: pointer;
}
* header div.cabezera .iconos:hover {
  color: #ce8619;
  transition: 600ms;
}
* header div.cabezera .fa-bars {
  display: none;
}
* header div.cabezera .fa-house {
  display: none;
}
* header div.cabezera .fa-location-dot {
  display: none;
}
* header div.cabezera .fa-bottle-droplet {
  display: none;
}
@media (max-width: 480px) {
  * header div.cabezera {
    display: flex;
    flex-direction: column;
    height: 10vh;
  }
  * header div.cabezera h2 {
    color: red;
    font-family: "Caveat", sans-serif;
    font-size: 10px;
    margin-right: 50%;
  }
  * header div.cabezera h2:hover {
    color: #ce8619;
    transition: 600ms;
    font-size: 68px;
  }
  * header div.cabezera form {
    display: none;
  }
  * header div.cabezera form div.contenedor-de-búsqueda {
    display: flex;
  }
  * header div.cabezera form div.contenedor-de-búsqueda i {
    display: flex;
  }
  * header div.cabezera p {
    display: flex;
    visibility: hidden;
  }
  * header div.cabezera .Usuario {
    display: flex;
  }
  * header div.cabezera .Usuario .iconos {
    display: flex;
    position: relative;
    visibility: hidden;
  }
  * header div.cabezera .Usuario .fa-bars {
    display: flex;
    position: absolute;
    font-size: 40px;
    z-index: 1;
    left: 75%;
    top: 5%;
    color: #ffffff;
  }
  * header div.cabezera .Usuario .fa-bars .fa-bars:hover {
    color: #ce8619;
    transition: 2s;
    align-self: center;
  }
  * header .headerFondoNegro {
    transition: 3s;
    background-color: rgba(0, 0, 0, 0.7);
  }
  * header div.cabezera {
    display: flex;
    flex-direction: column;
    height: 15vh;
  }
  * header div.cabezera h2 {
    position: absolute;
    color: #ffffff;
    font-family: "Caveat", sans-serif;
    font-size: 50px;
  }
  * header div.cabezera h2:hover {
    color: #ce8619;
    transition: 600ms;
    font-size: 68px;
  }
  * header div.cabezera .nuevop {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    z-index: 1;
    margin-top: 70%;
    margin-bottom: 5%;
    visibility: visible;
    transition: 0.5s;
    text-align: center;
  }
  * header div.cabezera .nuevoUsuario {
    display: flex;
    flex-direction: column;
    margin-top: 80%;
    margin-left: 55%;
    background: linear-gradient(rgb(127, 69, 14), rgb(192, 100, 14), rgba(244, 122, 8, 0.703));
    padding: 100px 35px 40px 35px;
    z-index: 1;
    border-radius: 0px 0px 30px 30px;
    transition: 0.5s alternate;
  }
  * header div.cabezera .nuevoUsuario .nuevoiconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45%;
    color: #ffffff;
    cursor: pointer;
    z-index: 1;
    visibility: visible;
    transition: 0.5s;
    font-size: large;
  }
  * header div.cabezera .nuevoUsuario .fa-bars {
    display: flex;
    font-size: xx-large;
    top: 7%;
    z-index: 1;
    transition: 0.5s;
  }
  * header div.cabezera .nuevoUsuario .fa-bars .fa-bars:hover {
    color: #ce8619;
    transition: 2s;
  }
}
* body {
  background-image: url(../IMA/BACKGROUND/pexels-francesco-paggiaro-793088\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
* body main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
* body main h1 {
  background-color: rgba(0, 0, 0, 0.4117647059);
  border: 0.5px solid white;
  color: #ffffff;
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-weight: 100;
  font-size: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
}
* body main .general {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
* body main .general section {
  display: flex;
  flex-direction: column;
}
* body main .general h2 {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
}
* body main .general iframe {
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 550px;
  height: 500px;
  border-radius: 10px;
}
* body main .general .datosDeEnvio {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ce8619;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
}
* body main .general .datosDeEnvio label {
  color: #000000;
  margin: 55px;
}
* body main .general .datosDeEnvio input {
  border-radius: 5px;
  padding: 15px 20px;
  margin: 8px 0;
  border: 1px solid #ffffff;
  width: 300px;
}
* body main .general .datosDeEnvio textarea {
  border-radius: 5px;
  padding: 15px 20px;
  width: 300px;
  margin-top: 5px;
  height: 50px;
  border: none;
}
* body main .general .datosDeEnvio ::-moz-placeholder {
  color: #000000;
  font-size: 14px;
  font-family: "Cormorant Infant", serif;
}
* body main .general .datosDeEnvio ::placeholder {
  color: #000000;
  font-size: 14px;
  font-family: "Cormorant Infant", serif;
}
* body main .general button {
  background-color: rgba(206, 134, 25, 0.8);
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Cormorant Infant", serif;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
* body main .general button:hover {
  color: #000000;
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff;
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.4);
}
* body main .general .cambio-color-bot {
  background-color: rgba(17, 119, 70, 0.5333333333);
  transition: all;
}
* body main .general .cambio-color-bot:hover {
  color: #ffffff;
  background-color: rgba(17, 119, 70, 0.5333333333);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4117647059), 0 0 20px rgba(0, 0, 0, 0.4117647059), 0 0 40px rgba(0, 0, 0, 0.4117647059);
}
* body footer div {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ce8619;
}
* body footer div a {
  width: 5%;
}
* body footer div a i {
  font-size: xx-large;
  margin: 10px 5px;
  color: #ffffff;
}
* body footer div a i:hover {
  color: #000000;
  transition: 600ms;
}
@media (max-width: 480px) {
  * body footer div {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ce8619;
  }
  * body footer div a {
    width: 70px;
  }
  * body footer div a i {
    font-size: xx-large;
    margin: 10px 5px;
    color: #ffffff;
  }
  * body footer div a i:hover {
    color: #000000;
    transition: 600ms;
  }
}

@media (max-width: 480px) {
  body {
    width: 100%;
  }
  body main {
    margin-bottom: 40px;
  }
  body main h1 {
    width: 100%;
    font-size: 20px;
  }
  body main .general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  body main .general section h2 {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  body main .general section iframe {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 80vw;
    margin: auto;
  }
  body main .general section h2 {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 20px 0;
  }
  body main .general section .datosDeEnvio {
    width: 80vw;
    margin: auto;
  }
  body main .general section .datosDeEnvio input {
    width: 70vw;
    height: 3vw;
  }
  body main .general section .datosDeEnvio textarea {
    width: 70vw;
    height: 3vw;
    margin: 8px 0;
  }
  body main .general section button {
    width: 60vw;
    margin-left: 20vw;
  }
}/*# sourceMappingURL=contactenos.css.map */