@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@100&display=swap");
:root {
  --burbuja-ancho: 65px;
  --burbuja-icono-ancho: 32px;
  --burbuja-whastapp: #25d366;
  --burbuja-color: #fff;
  --burbuja-sombra: rgba(0, 0, 0, 0.1);
  --burbuja-inactivo: #ff0000;
  --chat-ancho: 360px;
  --chat-sombra: rgba(0, 0, 0, 0.1);
  --chat-cabecera: #095e54;
  --chat-cabecera-texto: #fff;
  --chat-cabecera-activo: #4ad504;
  --chat-avatar-ancho: 52px;
  --chat-cuerpo-texto: #111;
  --chat-cuerpo-texto-operador: rgba(0, 0, 0, 0.4);
  --chat-cuerpo-hora: rgba(17, 17, 17, 0.5);
  --chat-cuerpo-fondo: rgba(230, 221, 212, 0.85);
  --chat-cuerpo-dialogo: #fff;
  --chat-cuerpo-dialogo-nombre: rgba(0, 0, 0, 0.4);
  --chat-pie: #fff;
  --chat-boton: #4fce5d;
  --chat-boton-texto: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* body {
  overflow: hidden;
}
* body header {
  transition: 3s;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.7);
}
* body main {
  height: 100vh;
  transition: 3s;
  background-color: rgba(0, 0, 0, 0.7);
}
* body main .container {
  position: fixed;
  left: 0;
  right: 0;
  transition: 3s;
  margin-top: 8.2%;
}
* body main .container .form-login {
  background-image: linear-gradient(-20deg, #fb576d 0%, #ff9a44 100%);
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 16px;
  border: 1px double rgba(0, 0, 0, 0.4117647059);
  box-shadow: 6px 20px 20px 6px #000000;
}
* body main .container .form-login .fa-circle-xmark {
  position: absolute;
  font-size: large;
  color: #ffffff;
  margin-left: 14%;
  transition: all 1s;
}
* body main .container .form-login .fa-circle-xmark:hover {
  font-size: x-large;
  color: #ffffff;
  transform: scale(1.1);
  cursor: pointer;
}
* body main .container .form-login .form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
* body main .container .form-login .form-header h2 {
  font-family: "Caveat", sans-serif;
  font-size: 50px;
  margin-bottom: 5px;
  font-weight: bold;
}
* body main .container .form-login .form-header p {
  padding: 10px 10px;
  color: #ffffff;
  font-size: 23px;
}
* body main .container .form-login label {
  margin-bottom: 5px;
}
* body main .container .form-login input {
  border-radius: 50px;
  margin-bottom: 15px;
  padding: 8px 30px;
  border: 1px solid saddlebrown;
}
* body main .container .form-login input:focus {
  outline: none;
  border: 2px solid #000000;
}
* body main .container .form-login button {
  font-family: "Cormorant Infant", serif;
  color: #ffffff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4117647059);
  padding: 0px 10px 0px 10px;
  border-radius: 70px;
  border-color: #ffffff;
  cursor: pointer;
  transition: all;
  margin-top: 10px;
}
* body main .container .form-login button:hover {
  transform: scale(1.1);
  transition: 1s;
  border-radius: 30px;
}
* body main .container .ingresarA {
  padding: 20px 0;
  text-align: center;
  margin-bottom: 15%;
}
* body main .container .ingresarA a {
  color: #326bff;
}
* body main .container .ingresarA a:hover {
  color: #ffffff;
  transition: 1s;
}
* body footer div {
  background-color: rgba(0, 0, 0, 0.3);
}
* body footer div a {
  width: 5%;
}
* body footer div a i:hover {
  color: #ce8619;
}

@media screen and (max-width: 480px) {
  body {
    overflow: hidden;
  }
  body header {
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
  }
  body main .container .form-login {
    max-width: 300px;
    padding: 30px 25px;
  }
  body main .container .form-login .fa-circle-xmark {
    margin-left: 60%;
  }
  body main .container .form-login .form-header {
    margin-bottom: 0%;
  }
  body main .container .form-login input {
    padding: 8px 20px;
  }
  body main .container .ingresarA a {
    color: #ffffff;
  }
  body footer div a {
    width: 70px;
  }
}/*# sourceMappingURL=ingresar.css.map */